<div id="homepage" class="faq-section">
  <%- partial ('common/header.ejs') %>
  <div class="container">
    <h1 class="text-center">FAQs</h1><br>
    <div class="faq-content"></div>

  </div>
  <hr>
  <%- partial ('common/footer.ejs') %>
</div>
