<!--<div id="homepage">-->
<!---->
<!--</div>-->

<!--<div id="homepage">-->
  <!--<%- partial ('common/header.ejs') %>-->
  <!--<div id="content">-->
    <!--<div class="jumbotron">-->
      <!--<div class="feature-content">-->

          <!--<h3>Management Information System</h3>-->
          <!--<p>A Web application builds on and extends a Web system to add bussiness functionality.</p>-->
          <!--<a href="/scp" class="btn btn-primary navbar-btn get-started">Join now</a>-->

      <!--</div>-->
    <!--</div>-->


    <!--<div class="container text-center" id="app-feature">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
          <!--<h3>Powerful Tools</h3>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
          <!--<h3>Creative Solutions</h3>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->

        <!--</div>-->
        <!--<div class="col-sm-4">-->
          <!--<h3>Premium Support</h3>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->

        <!--</div>-->
      <!--</div>-->

    <!--</div>-->



  <!--</div>-->

<!--</div>-->

<!--<style>-->
  <!--#app-feature h3 {-->
    <!--color:#7ebe00;-->
  <!--}-->
  <!--#app-feature p {-->
    <!--color:#565656;-->
  <!--}-->
<!--</style>-->

<div id="response-page">
  <span class="response-code">503</span>
  <div class="response-info">

    <span class="msg">Homepage is deleted, please <a href="/login">login here</a></span>
  </div>
</div>

