<div id="homepage" class="privacy-section">
  <%- partial ('common/header.ejs') %>
  <div class="container">
    <h1 class="text-center">PRIVACY STATEMENT</h1><br>
    <div class="privacy-content"></div>

  </div>
  <hr>
  <%- partial ('common/footer.ejs') %>
</div>
