<div id="homepage" class="terms-section">
  <%- partial ('common/header.ejs') %>
  <div class="container">
    <h1 class="text-center">Terms of Service</h1><br>
    <div class="tos-content"></div>

  <hr>
  </div>
  <%- partial ('common/footer.ejs') %>
</div>
