

<footer>
  <div class="container">

    <ul class="footer-menu">
      <li><a href="/#about-section">About</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/terms">Terms of Service</a></li>
      <li><a href="/privacy-policy">Privacy Policy</a></li>
      <li><a href="/terms" class="button-help">Help</a></li>
    </ul>

    <div class="social-section text-right">
      <a href="#"><i class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="#"><i class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="#"><i class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href="mailto:admin@shipint.com"><i class="fa fa-envelope-square fa-3x social"></i></a>

    </div>

    <div class="footer-copyright">© 2018 MIS</div>
  </div>
</footer>
