
<div class="container" id="seller-page">

  <%- partial ('menu-side.ejs') %>

  <div class="main-content">


    <div class="detail-content container" id="setting-page">



    </div>





  </div>
</div>
