


<div class="container" id="seller-page">


  <div class="main-content">
    <div class="head-content">
      <a class="menu-button" href="#">
        <div class="menu-arrow aright text-center">
          <i class="fa fa-chevron-right pull-left"></i>
        </div>
      </a>
      <a class="menu-button" href="#">
        <div class="sr-only menu-arrow aleft text-center">
          <i class="fa fa-chevron-left pull-left"></i>
        </div>
      </a>
      <div class="menu-title">
        <h4><span class="name-param">Import Order</span></h4>
      </div>
    </div>

    <div class="detail-content import-order-page" id="">
      <ul class="breadcrumb">
        <li><a href="/scp"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Import Order</li>
      </ul>






      <div class="main-section">
        <div class="col-sm-7">

          <form id="upload-csv-form" action="/order/upload" method="post" enctype="multipart/form-data">
              <!-- The name here is important, and will be used later to reference the data -->
              <input type="file" name="files" accept="text/cvs">
              <div class="section-button">
                <a class="import-csv-submit btn btn-info" href="#" disabled><i class="fa fa-upload fa-lg"></i> Import CSV File</a>
                <a class="validate-data btn btn-warning hidden" href="#" disabled><i class="fa fa-circle-o-notch fa-lg"></i> Validate Data</a>
                <a class="hidden import-orders btn btn-success" href="#" disabled><i class="fa fa-circle-o-notch fa-lg"></i> Import Orders</a>
                <a class="export-orders btn btn-success" href="/order/export"><i class="fa fa-circle-o-notch fa-lg"></i> Export Orders</a>
                <a class="backup-orders btn btn-warning" href="/order/backup"><i class="fa fa-circle-o-notch fa-lg"></i> Backup Orders</a>
              </div>
              <!--<input type="submit" value="Submit"/>-->
            </form>
        </div>
        <div class="col-sm-5 import-data">
          <div class="panel panel-success">
            <div class="panel-heading">Import CSV Details</div>
            <div style="padding:0" class="panel-body">
              <ul class="list-group">
                <li class="order-length list-group-item">Order Count <span class="badge"></span></li>
                <!--<li class="valid-order-count list-group-item">Valid Orders <span class="badge">0</span></li>-->
                <li class="fail-order-count list-group-item">Failed <span class="badge">0</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<style>

  table i.fa-spin {
    color:#03A9F4;
  }

  .valid-order-count span {
    background: #5cb85c;
    color:#fff;
  }
  .fail-order-count span {
    background: #F44336;
    color:#fff;
  }
  i.fa-check {
    color:#52c757;
  }
  i.fa-close {
    color:#F44336;
  }
  .import-order-page .main-section {
    background: #fff;
    padding: 15px 0;
  }
  .table-section {
    float: left;
    width: 100%;
    margin-top: 10px;
  }
  input[type="file"] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 7px;
    background: #fff;
    line-height: initial;
  }
  .section-button {
    margin-top:15px;
  }
  form {
    margin:25px 0;
  }
  .import-data ul.list-group {
    margin:0;
  }
  .import-data .list-group-item {
    margin-bottom:0;
    border-bottom: 1px solid #ddd;
    border-top:none;
    border-left: none;
    border-right: none;
  }
</style>
<script>
  $('a.import-csv-submit').click(function(){
    $('#upload-csv-form').submit();
  })
</script>
